<ion-header>
  <ion-navbar>
    <ion-title class="title">{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg-class">
  <h3 class="no-item" text-center *ngIf="loadItems().length === 0">
    You have no items available on the list!
  </h3>
  <ion-list>
    <ion-item-sliding *ngFor="let item of loadItems(); let i = index;">
      <ion-item>
        <h2 class="item">{{item.title}}</h2>
        <p class="item">Author: {{item.author}}</p>
        <br>
        <p class="item">Your Post: {{item.post}}</p>
      </ion-item>
      <ion-item-options>
        <button (click)="editItem(item, i)" class="editButton" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button (click)="shareItem(item, i)" class="shareButton" icon-start>
          <ion-icon name="share-alt"></ion-icon>
          Share
        </button>
        <button (click)="removeItem(item, i)" class="addButton" icon-start>
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>`
  </ion-list>
  <ion-fab bottom right>
    <button class="add2 button2" (click)="addItem()" ion-fab mini>
      <ion-icon  name="add"></ion-icon>
    </button>
  </ion-fab>

  <button class="add2 button2" ion-button outline (click)="screenShot()">Screenshot (PIC)</button>
  <button class="add2 button2" ion-button outline (click)="screenShotURI()">Screenshot (URI)</button>

  <img src="{{ screen }}" *ngIf="state">

  <ion-fab bottom left>
      <button class="add2 button2"  (click)="shareImage()" ion-fab mini>
        <ion-icon name="logo-instagram"></ion-icon>
      </button>
    </ion-fab>



</ion-content>
