page-about {

  .bg-class{
    background: #87CEFA !important;
  }
    h3.no-item{
        color: red;
    }

    h2.item {
      font-style: bold;
      color: Red;
      text-decoration: underline;
    }

}
