page-contact {

  ionic-title.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size:160%;
  }

  .instagram {
    background: #e95950;

  }

  .facebook {
      background: #3b5998;
    }


  .twitter {
    background: #38A1F3;
  }

  .bg-class{
    background: #87CEFA !important;
  }
    h3.no-item{
        color: red;
    }

    h2.item {
      font-style: bold;
      color: Red;
      text-decoration: underline;
    }

}
